<div class="container">
  <h1 class="text-center primary">Grocery List</h1>
  <p><span class="bold">I have to buy:</span> {{ grocery.value }}</p>   
  <form #groceryForm="ngForm" (ngSubmit)="grocerySubmit(grocery.value)">
    <div class="form-group">
      <div class="input-group-prepend">
        <input type="text" class="form-control" placeholder="Add..." name="grocery" [(ngModel)]="item" #grocery="ngModel">
        <button type ="button" class="btn btn-secondary" (click)="addGrocery(grocery.value)"><i class="material-icons">add</i></button>
      </div> 
    </div>
  </form>
  <div class="data">
    <p><span class="bold">List:</span></p>
    <ul class="list-instyled">
      <li *ngFor="let grocery of groceryArray">{{ grocery }}<i class="material-icons" (click)="deleteGrocery(grocery)">delete</i></li>
    </ul>
  </div>
</div>